.accordion { width: 250px; border: 1px solid #ccc; }
.acc-item { border-bottom: 1px solid #ddd; }
.acc-item > a {
    display: block;
    padding: 15px;
    background: #eee;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.acc-item:hover > a { background: #ccc; }

.acc-content { display: none; background: #fff; }
.acc-item:hover .acc-content { display: block; }

.acc-content a {
    display: block;
    padding: 10px 20px;
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #f0f0f0;
}
.acc-content a:hover { background: #f9f9f9; }