.vertical-nav { width: 220px; box-shadow: 4px 4px 10px #aaa; }
.v-item { position: relative; border-bottom: 1px solid #ccc; }
.v-item a {
    display: block;
    padding: 15px;
    background: linear-gradient(to bottom, #e3e3e3, #efefef);
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.v-item:hover > a { background: #919191; color: white; }

.v-submenu, .v-deep-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    display: none;
    background: #f9f9f9;
    box-shadow: 3px 3px 5px #888;
    z-index: 10;
}
.v-item:hover > .v-submenu { display: block; }

.v-submenu a, .v-deep-menu a {
    text-align: left;
    font-weight: normal;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.v-sub-parent { position: relative; }
.v-sub-parent:hover > .v-deep-menu { display: block; }